* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #355070;
  justify-content: space-between;
  display: flex;
  padding: 0.5rem;
}
header h1 a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Merriweather", serif;
  font-size: 35px;
}
header #abrir-menu {
  display: none;
}
header #cerrar-menu {
  display: none;
}
header .navbar li {
  list-style: none;
  margin: 20px;
  display: inline-block;
  color: aliceblue;
  transition: all 300ms;
  font-family: Arial, Helvetica, sans-serif;
}
header .navbar li a {
  text-decoration: none;
  color: aliceblue;
}
header .navbar li a:hover {
  color: #CCA43B;
  transform: scale(1.5);
}
header .navbar li:hover {
  transform: scale(1.5);
}

@media screen and (max-width: 960px) {
  header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #abrir-menu {
    display: block;
    width: 2.5rem;
    border-radius: 0.5rem;
  }
  header #cerrar-menu {
    display: block;
    width: 2.3rem;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
  }
  header .navbar {
    display: none;
    padding-left: 0;
  }
  header .navbar.active {
    display: block;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #242f40;
    width: 40%;
    min-height: 100vh;
    padding-left: 2.5rem;
    padding-top: 3.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.2);
  }
  header .navbar li:hover {
    transform: none;
  }
}
@media screen and (max-width: 550px) {
  h1 a {
    font-size: 1.5rem;
  }
  .navbar.active {
    padding-left: 1.5rem;
  }
}
.tituloindex {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #0077B6;
  color: aliceblue;
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.contenedor a {
  text-decoration: none;
  color: black;
}
.contenedor img {
  width: 100%;
  border-radius: 15px;
}
.contenedor .noticia1 {
  width: 23%;
  border-radius: 15px;
  margin: 1.5rem;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: all 300ms;
}
.contenedor .noticia1 a {
  text-decoration: none;
  color: black;
}
.contenedor .noticia1 img {
  width: 100%;
  border-radius: 15px;
}
.contenedor .noticia1 h2 {
  text-align: center;
  margin-top: 0.5rem;
}
.contenedor .noticia1 h2:hover {
  color: #0077B6;
}
.contenedor .noticia1 h4 {
  text-align: center;
  margin-bottom: 1rem;
}
.contenedor .noticia1 h4:hover {
  color: #0077B6;
}
.contenedor .noticia1 p {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contenedor .noticia1:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.contenedor .marcasdestacasindex {
  width: 20%;
  margin: 1rem;
}
.contenedor.vehiculosdestacadosindex {
  width: 25%;
  margin: 1rem;
}
.contenedor.vehiculosdestacadosindex img {
  width: 100%;
  border-radius: 15px;
}
.contenedor .marca {
  align-items: center;
  width: 10%;
  margin: 3%;
  border-radius: 20px;
  transition: all 300ms;
}
.contenedor .marca:hover {
  transform: scale(1.3);
}
.contenedor .marca h2 {
  text-align: center;
  margin-top: 10px;
}

.contenidonoticia {
  display: flex;
  width: 100%;
  text-align: center;
}
.contenidonoticia .articulonot {
  margin: 2rem;
  width: 80%;
  padding: 1rem;
  justify-content: center;
}
.contenidonoticia .articulonot h3 {
  color: #64696d;
}
.contenidonoticia .articulonot img {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contenidonoticia .articulonot p {
  padding: 1rem;
  text-align: left;
}

.seccionartdest {
  height: 100%;
  margin-top: 2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 20%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.seccionartdest h2 {
  background-color: #0077B6;
  color: aliceblue;
}
.seccionartdest h3:hover {
  color: #0077B6;
}
.seccionartdest img {
  width: 100%;
  padding-top: 1.5rem;
}
.seccionartdest a {
  text-decoration: none;
}

@media screen and (max-width: 870px) {
  .seccionartdest {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
  }
  .contenedor img {
    width: 100%;
    border-radius: 15px;
  }
  .contenedor .noticia1 {
    width: 50%;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: all 300ms;
  }
  .contenedor .noticia1 p {
    display: none;
  }
  .contenedor .marca {
    width: 200px;
    text-align: center;
  }
  .contenedor .marca img {
    width: 200px;
  }
}
@media screen and (max-width: 550px) {
  .contenedor {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
  }
  .contenedor .marca {
    width: 150px;
    text-align: center;
  }
  .contenedor .marca img {
    width: 150px;
  }
  .contenedor .marcasdestacasindex {
    width: 170px;
  }
  .contenedor .marcasdestacasindex img {
    width: 170px;
  }
}
.footer {
  width: 100%;
  padding: 15px;
  background-color: #355070;
  color: aliceblue;
  text-align: center;
}
.footer .titulopie h2 {
  text-align: center;
}
.footer .facebook, .footer .youtube, .footer .instagram, .footer .twitter {
  width: 50px;
  margin-top: 1rem;
  padding: 1px;
  display: inline-block;
}
.footer .facebook img, .footer .youtube img, .footer .instagram img, .footer .twitter img {
  width: 40px;
  border-radius: 5px;
  transition: all 300ms;
}
.footer .facebook img:hover, .footer .youtube img:hover, .footer .instagram img:hover, .footer .twitter img:hover {
  transform: scale(1.15);
}
@media screen and (max-width: 600px) {
  ul:last-child {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .piepag img {
    width: 30px;
  }
}
.contacto {
  width: 90%;
  max-width: 1000px;
  padding: 50px;
  margin: 6% auto;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: #355070;
  color: azure;
  border-radius: 10px;
}
.contacto h2 {
  font-size: 40px;
  font-weight: 600px;
  text-align: center;
  margin-bottom: 25px;
}
.contacto .contactoform {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.contacto .contactoform .info, .contacto .contactoform .formulario {
  width: 50%;
}
.contacto .contactoform .info {
  padding-left: 10px;
}
.contacto .contactoform .info .datos {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  font-size: 20px;
  align-items: center;
  flex-wrap: nowrap;
}
.contacto .contactoform .info .datos h3 {
  font-size: 25px;
}
.contacto .contactoform .info .datos p {
  margin-top: 10px;
  margin-right: 20px;
}
.contacto .contactoform.formulario {
  padding-left: 10px;
}
.contacto .contactoform input, .contacto .contactoform textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  border: 1px solid #999;
  color: #999;
  font-weight: 400;
  outline: 0;
}
.contacto .contactoform textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 150px;
}
.contacto .contactoform button {
  padding: 12px 30px;
  border: transparent;
  border-radius: 10px;
  background-color: #0077B6;
  color: azure;
  float: right;
  cursor: pointer;
}
.contacto .contactoform button:hover {
  background-color: #CCA43B;
}

.quienes {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quienes .titulos {
  width: 90%;
  text-align: center;
  margin: 0.5rem;
}
.quienes h2 {
  font-size: 35x;
  margin-bottom: 15px;
}
.quienes p {
  width: 50%;
  margin: 20px;
  padding-bottom: 4.5rem;
}

@media screen and (max-width: 950px) {
  .quienes {
    height: 100%;
  }
}
@media screen and (max-width: 550px) {
  .datos h4 {
    display: none;
  }
  .datos img {
    display: none;
  }
}
.marcascontenedor {
  width: 100%;
  display: grid;
  gap: 1.5rem;
  padding: 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "marca1 marca2 marca3 marca4" "marca5 marca6 marca7 marca8" "marca9 marca10 marca11 marca12";
}
.marcascontenedor a {
  text-decoration: none;
}
.marcascontenedor img {
  width: 50%;
  border-radius: 1rem;
}
.marcascontenedor h4 {
  padding: 1rem;
  text-align: center;
  color: #32373B;
}
.marcascontenedor h4:hover {
  color: #0077B6;
}
.marcascontenedor .marca {
  padding: 1rem;
  text-align: center;
  border-radius: 1rem;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.marcascontenedor .marca .marca1 {
  grid-area: marca1;
}
.marcascontenedor .marca .marca2 {
  grid-area: marca2;
}
.marcascontenedor .marca .marca3 {
  grid-area: marca3;
}
.marcascontenedor .marca .marca4 {
  grid-area: marca4;
}
.marcascontenedor .marca .marca5 {
  grid-area: marca5;
}
.marcascontenedor .marca .marca6 {
  grid-area: marca6;
}
.marcascontenedor .marca .marca7 {
  grid-area: marca7;
}
.marcascontenedor .marca .marca8 {
  grid-area: marca8;
}
.marcascontenedor .marca .marca9 {
  grid-area: marca9;
}
.marcascontenedor .marca .marca10 {
  grid-area: marca10;
}
.marcascontenedor .marca .marca11 {
  grid-area: marca11;
}
.marcascontenedor .marca .marca12 {
  grid-area: marca12;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@media screen and (max-width: 640px) {
  .marca {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "marca1 marca2" "marca3 marca4" "marca5 marca6" "marca7 marca8" "marca9 marca10" "marca11 marca12";
  }
}
.descripcionmodelo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.descripcionmodelo .titulodescmodelo {
  text-align: center;
}
.descripcionmodelo .carousel {
  width: 40%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  margin: 1rem;
}
.descripcionmodelo .carousel-item img {
  border-radius: 1rem;
}
.descripcionmodeloh3 {
  padding-top: 1.5rem;
  color: #0077B6;
}
.descripcionmodelo .fichatecnica {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.descripcionmodelo .fichatecnica th {
  padding-top: 2rem;
  text-align: left;
  border-bottom: 0.2rem solid black;
  color: #0077B6;
}
.descripcionmodelo .fichatecnica td {
  width: 50%;
  padding: 0.5rem;
}

@media screen and (max-width: 600px) {
  ul:last-child {
    display: none;
  }
  .descripcionmodelo .carousel {
    width: 300px;
  }
}/*# sourceMappingURL=estilo.css.map */