.marcascontenedor{
    width: 100%;
    display: grid;
    gap:1.5rem;
    padding: 1rem;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "marca1 marca2 marca3 marca4"
    "marca5 marca6 marca7 marca8"
    "marca9 marca10 marca11 marca12";

    & a{
        text-decoration: none;
    }

    & img{
        width: 50%;
        border-radius: 1rem;
    }

    & h4{
        padding: 1rem;
        text-align: center;
        color:#32373B;

        &:hover{
            color:#0077B6;
        }
    } 

    & .marca {
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        -webkit-animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
        animation:scale-in-center .5s cubic-bezier(.25,.46,.45,.94) both;
    
        & .marca1 {
            grid-area: marca1;
           
        }
        & .marca2 {
            grid-area: marca2;
            
        }
        & .marca3 {
            grid-area: marca3;
            
        }
        & .marca4 {
            grid-area: marca4;
            
        }
        & .marca5 {
            grid-area: marca5;
        }
        & .marca6 {
            grid-area: marca6;
            
        }
        & .marca7 {
            grid-area: marca7;
            
        }
       & .marca8 {
            grid-area: marca8;
           
        }
        .marca9 {
            grid-area: marca9;
        }
        & .marca10 {
            grid-area: marca10;
            
            
        }
        & .marca11 {
            grid-area: marca11;
            
        }
        & .marca12 {
            grid-area: marca12;
            
        }
    }
}

 @-webkit-keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}@keyframes scale-in-center{0%{-webkit-transform:scale(0);transform:scale(0);opacity:1}100%{-webkit-transform:scale(1);transform:scale(1);opacity:1}}

@media screen and (max-width:640px){

    .marca{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
    "marca1 marca2"
    "marca3 marca4"
    "marca5 marca6"
    "marca7 marca8"
    "marca9 marca10"
    "marca11 marca12"
    }
}

